<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XRouteTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <XRouteTestClient.Properties.Settings>
      <setting name="OPTIMIZATION" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_TOLLROADS" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_VIGNETTEROADS" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_HIGHWAYS" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_FERRIES" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_RESIDENTS_ONLY" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_URBAN_AREAS" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_RAMPS" serializeAs="String">
        <value/>
      </setting>
      <setting name="EXCLUDE_COUNTRIES" serializeAs="String">
        <value/>
      </setting>
      <setting name="ROUTING_COUNTRIES" serializeAs="String">
        <value/>
      </setting>
      <setting name="REQUEST_VERSION" serializeAs="String">
        <value>1.22</value>
      </setting>
      <setting name="COUNTRY_ENCODING" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProfileRoute" serializeAs="String">
        <value>truckfast</value>
      </setting>
      <setting name="y2" serializeAs="String">
        <value>52.124376</value>
      </setting>
      <setting name="x2" serializeAs="String">
        <value>5.0406243</value>
      </setting>
      <setting name="y1" serializeAs="String">
        <value>51.922923</value>
      </setting>
      <setting name="x1" serializeAs="String">
        <value>4.177775</value>
      </setting>
      <setting name="scroll" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="UrlRoute" serializeAs="String">
        <value>http://localhost:50030/xroute/ws/XRoute</value>
      </setting>
      <setting name="UrlMap" serializeAs="String">
        <value>http://localhost:50010/xmap/ws/XMap</value>
      </setting>
      <setting name="LinkType_START" serializeAs="String">
        <value>AUTO_LINKING</value>
      </setting>
      <setting name="LinkType_DESTINATION" serializeAs="String">
        <value>AUTO_LINKING</value>
      </setting>
      <setting name="COORDFORMAT" serializeAs="String">
        <value>OG_GEODECIMAL</value>
      </setting>
      <setting name="START_TIME" serializeAs="String">
        <value/>
      </setting>
      <setting name="IS_DESTTIME" serializeAs="String">
        <value/>
      </setting>
      <setting name="DetailLevel" serializeAs="String">
        <value>STANDARD</value>
      </setting>
      <setting name="EnableTurningList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LOW_EMISSION_ZONE_TYPE" serializeAs="String">
        <value/>
      </setting>
      <setting name="ROUTE_LANGUAGE" serializeAs="String">
        <value/>
      </setting>
      <setting name="ROADEDITOR_ADDITIONAL_OPTIONS" serializeAs="String">
        <value/>
      </setting>
      <setting name="ROUTING_RECTANGLE" serializeAs="String">
        <value/>
      </setting>
      <setting name="ROADEDITOR_LAYERNAME" serializeAs="String">
        <value/>
      </setting>
      <setting name="GENERATE_EXTWAYPOINTS" serializeAs="String">
        <value/>
      </setting>
      <setting name="EXPERT_OPTIONS" serializeAs="String">
        <value/>
      </setting>
      <setting name="ENABLE_ROADEDITOR" serializeAs="String">
        <value/>
      </setting>
      <setting name="ExceptionPath_RelMalus" serializeAs="String">
        <value/>
      </setting>
      <setting name="ExceptionPath_Street" serializeAs="String">
        <value/>
      </setting>
      <setting name="ExceptionPath_BinaryPathDescription" serializeAs="String">
        <value/>
      </setting>
      <setting name="AVOID_LOW_EMISSION_ZONES" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViaRadius" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ViaX" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViaY" serializeAs="String">
        <value/>
      </setting>
      <setting name="SegmentAttributes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExtendedRoute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayRoadEditorLayer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BoundingRectangles_Color" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="BoundingRectangles_Width" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BoundingRectangles_Transparent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BoundingRectanglesC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BoundingRectanglesOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ManoeuvreGroup_Color" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="ManoeuvreGroup_Width" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ManoeuvreGroup_Transparent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManoeuvreGroup_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManoeuvreGroup_Ratio" serializeAs="String">
        <value/>
      </setting>
      <setting name="Waypoint_START" serializeAs="String">
        <value>flaggreen.bmp</value>
      </setting>
      <setting name="Waypoint_VIA" serializeAs="String">
        <value>flagblue.bmp</value>
      </setting>
      <setting name="Waypoint_DEST" serializeAs="String">
        <value>flagred.bmp</value>
      </setting>
      <setting name="DefaultIcon" serializeAs="String">
        <value>location.bmp</value>
      </setting>
      <setting name="TimeEventIcon" serializeAs="String">
        <value>dealer.bmp</value>
      </setting>
      <setting name="SegmentWithTruckToll_Color" serializeAs="String">
        <value>Magenta</value>
      </setting>
      <setting name="SegmentWithoutTruckToll_Color" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="SegmentToll_Width" serializeAs="String">
        <value>-8</value>
      </setting>
      <setting name="Route_Color" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="Priority_Route" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="Priority_Toll" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="Priority_BoundingRect" serializeAs="String">
        <value>1002</value>
      </setting>
      <setting name="Priority_ManoeuvreGroups" serializeAs="String">
        <value>1003</value>
      </setting>
      <setting name="Priority_Manoeuvres" serializeAs="String">
        <value>1004</value>
      </setting>
      <setting name="Priority_Waypoints" serializeAs="String">
        <value>1005</value>
      </setting>
      <setting name="Priority_Timeevents" serializeAs="String">
        <value>1006</value>
      </setting>
      <setting name="Visibility_Route" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Visibility_Toll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Visibility_BoundingRect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Visibility_ManoeuvreGroups" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Visibility_Manoeuvres" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Visibility_Waypoints" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Visibility_Timeevents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Form_RouteListSegment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Visibility_Ferries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Color_Ferries" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="Width_Ferries" serializeAs="String">
        <value>-10</value>
      </setting>
      <setting name="Priority_Ferries" serializeAs="String">
        <value>1007</value>
      </setting>
      <setting name="cbxURL_Map" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Waypoint_FUZZY" serializeAs="String">
        <value>location_rough.bmp</value>
      </setting>
      <setting name="texts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Transparency_Toll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Priority_RoutePoint" serializeAs="String">
        <value>1007</value>
      </setting>
      <setting name="Visibility_Routepoint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon_Routepoint" serializeAs="String">
        <value>location.bmp</value>
      </setting>
      <setting name="ShowScale" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="vp_TYPE" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_TOTAL_WEIGHT" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_TRAILER_WEIGHT" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_AXLE_WEIGTH" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_NUMBER_OF_AXLES" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_EMISSION_CLASS" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_HEIGHT" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_LENGTH" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_WIDTH" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_CYLINDER_CAPACITY" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_NUMBER_OF_PASSENGERS" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_TRAILER_HAS_BREAKS" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_FUEL_TYPE" serializeAs="String">
        <value/>
      </setting>
      <setting name="Visibility_Segments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Priority_Segments" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Icon_Segments_Standard" serializeAs="String">
        <value>flagblue.bmp</value>
      </setting>
      <setting name="Nodes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon_Segments_NoStandard_NoAdd" serializeAs="String">
        <value>n_marker2.bmp</value>
      </setting>
      <setting name="Icon_Segments_NoStandard_Add" serializeAs="String">
        <value>n_marker1.bmp</value>
      </setting>
      <setting name="ROUTELISTMANOEUVRES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cbxWaypoints" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon_Matchpoint" serializeAs="String">
        <value>location.bmp</value>
      </setting>
      <setting name="Priority_TollSections" serializeAs="String">
        <value>501</value>
      </setting>
      <setting name="Visibility_TollSections" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Icon_TollSection_From" serializeAs="String">
        <value>flaggreen.bmp</value>
      </setting>
      <setting name="Icon_TollSection_To" serializeAs="String">
        <value>flagred.bmp</value>
      </setting>
      <setting name="GEODATASOURCE_LAYER" serializeAs="String">
        <value/>
      </setting>
      <setting name="DynamicInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="vp_EMPTY_WEIGHT" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_EMISSION_TECHNOLOGY" serializeAs="String">
        <value/>
      </setting>
      <setting name="vp_LOAD_WEIGHT" serializeAs="String">
        <value/>
      </setting>
      <setting name="SPEED_INFOS" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="xServerUserName" serializeAs="String">
        <value>xtok</value>
      </setting>
      <setting name="xServerPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProfileMap" serializeAs="String">
        <value>silkysand</value>
      </setting>
      <setting name="Route_Width" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TollDate" serializeAs="String">
        <value/>
      </setting>
      <setting name="ExceptionPath_AbsMalus" serializeAs="String">
        <value/>
      </setting>
    </XRouteTestClient.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ProjNET" publicKeyToken="A1F5BDCD9C6F5740" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.2854.24700" newVersion="1.1.2854.24700"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="A1A0DA7DEF465678" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="F580A05016EBADA1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.3.30582" newVersion="1.7.3.30582"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
